{% extends 'base.html' %}

{% block header %}
<a class="a1" href="/profile">Profile</a>
{% endblock %}

{% block content %}
<div class="card">
    <form action="" method="post" style="padding: 20px;">
        {{ form.hidden_tag() }}
        {% if message %}
        {% if 'successfully' in message %}
        <div class="alert alert-success">{{ message }}</div>
        {% else %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        {% endif %}
        <p>
            {{ form.current_password.label(style="color: #ebebeb;") }}
            {{ form.current_password(class="form-control", placeholder="Enter password") }}
        </p>
        <p>
            {{ form.new_password.label(style="color: #ebebeb;") }}
            {{ form.new_password(class="form-control", placeholder="Enter new password") }}
        </p>
        <p>
            {{ form.new_password_again.label(style="color: #ebebeb;") }}
            {{ form.new_password_again(class="form-control", placeholder="Enter new password again") }}
        </p>
        <p>
            {{ form.submit(class="btn btn-success", style="background: #eec111; border:2px #eec111 solid;") }}
        </p>
    </form>
</div>
{% endblock %}