{% extends 'base.html' %}

{% block header %}
<a class='a1' href="/">Chats</a>
{% endblock %}

{% block content %}
<div class="card" style="height: 369px;">
<form action="" method="post" enctype="multipart/form-data" style="padding: 20px;">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label(style="color: #ebebeb;") }}
        {{ form.title(class="form-control", style="widht: 80%", placeholder="Enter title") }}
    </p>
    <p>
        {{ form.users.label(style="color: #ebebeb;") }}
        <select class="form-control" id="users" style="widht: 80%"  multiple name="users" required>
            {% for val, key in form.users.choices %}
            {% if key in form.users.assigned_choices %}
            <option value="{{ val }}" selected>{{ key }}</option>
            {% else %}
            <option value="{{ val }}">{{ key }}</option>
            {% endif %}
            {% endfor %}
        </select>
<!--        {{ form.users(class="form-control") }}-->
    </p>
    <p>
        {{ form.logo.label(style="color: #ebebeb;") }}
        {{ form.logo(class="form-control") }}
    </p>
    <p>
        {{ form.submit(class="btn btn-success", style="background: #eec111; border:2px #eec111  solid;", value="{}".format(submit_text)) }}
    </p>
</form>
</div>
{% endblock %}