<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/data_refresh.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chat_interaction.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
  <title>Vitamo</title>
</head>
<body>
<header>
  <div class="title"><label>Vitamo</label></div>
  <button class = 'button1' onclick="window.location.href='#main'">Profile</button>
</header>
<div>
    <a href="#" id="main">
      <div class="profile">
        Всплывающее окошко!
      </div>
    </a>
   <div id="chat-list" style="float: left; width: 20%; background: #ebebeb; text: black;">
    {% for chat in chats %}
   <button class="alert alert-info" style="width: 100%;" onclick="openChat({{ chat.get('id') }})">
       {{ chat.title }}
   </button>
    {% endfor %}
  </div>
  <div class="current-chat">
    <p>Тут чат!</p>
  </div>
</div>
</body>
</html>