{% extends 'base.html' %}

{% block content %}
<div>
  <div class="chat-list" style="float: left; weight: 20%; background: #ebebeb; text: black;">
    {% for chat in ['hello', 'bb', 'aa'] %}
<!--    {{ chat.title }}-->
    <div class="alert alert-success">{{ chat.title }}</div>
    {% endfor %}
  </div>
  <div class="current-chat">
    {% for message in ['hello', 'bb', 'aa'] %}
   <div class="message">{{ message.title }}</div>
    {% endfor %}
     <div class="current-message">
    <input class="input-mess" type="text" />
    <button class="send-button">Send</button>
  </div>
  </div>
</div>
{% endblock %}